<div class="catalogue-item">
  <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }} by
    {% if post.authors %}
    {% for author in post.authors %}
      {% include author.html %}
    {% endfor %}
    {% elsif post.author %}
    {% assign author = post.author %}
    {% include author.html %}
    {% endif %}
  </time>
  <a href="{% if post.original_post %}{{ post.original_post }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="catalogue-post-link">
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>

    {% if post.original_post %}
    <p>
      See <a href="{{ post.original_post }}">the original blog post on
      {% if post.blog_name %}
      {{ post.blog_name }}
      {% else %}
      {{ post.author }}'s blog
      {% endif %}
      </a>
    </p>
    {% else %}
    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>
    {% endif %}
  </a>
</div>
