<nav class="nav">
  <div class="nav-container" style="height: 2em">
    <a href="{{ site.baseurl }}/">
      <div style="display: flex; justify-content: left; align-items: center;">
        <img src="{{ "/assets/truffleruby_logo_notext.svg" | relative_url }}" style="height: 2.5em; margin: 0; margin-right: 0.4em;">
        <h2 class="nav-title" style="">{{ site.title }}</h2>
      </div>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="https://rubybib.org" target="_blank">Papers</a></li>
      <li><a href="https://github.com/truffleruby/truffleruby/tree/master?tab=readme-ov-file#getting-started" target="_blank">Install</a></li>
      <li><a href="https://github.com/truffleruby/truffleruby" target="_blank">GitHub</a></li>
    </ul>
  </div>
</nav>
