// From the Minima Jekyll Theme

$spacing-unit:     30px !default;
$text-color:       #111 !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;

$table-text-align: left !default;

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: calc($spacing-unit / 3) calc($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

// Custom

table {
  tr {
    td {
      font-family: sans-serif;
    }
  }
}
